.header {
  display: flex;
  align-items: center;
}

.logoSection {
  display: flex;
  margin-right: auto;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation > li > a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 9rem;
  border-bottom: 1px solid black;
}
