.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
