.header {
  display: flex;
  align-items: center;
}

.logoSection {
  display: flex;
  margin-right: auto;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation > li > a {
  text-decoration: none;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
